<h4 class="display-4">Candidates</h4>
<p class="lead mb-4">This candidate is for a selection process with vacancy {{this.selectionProcessEntity.vacancy}}.</p>

<form id="document-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- Title input -->
    <div class="form-group" [class.was-validated]="title.dirty || title.touched">
      <label class="control-label" for="title">Name*</label>
      <input id="title" name="title" type="text" class="form-control" required
             [(ngModel)]="candidateEntity.name" #title="ngModel">
      <div class="invalid-feedback">A title is required</div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
      <button id="listBtn" type="button" (click)="onCancel()" class="btn m-1 btn-outline-primary pull-right">Back</button>
    </div>

  </fieldset>
</form>



