<h4 class="display-4">Process Stage</h4>
<p class="lead mb-4">Create a process stage for selection process with vacancy {{this.selectionProcessEntity.vacancy}}.</p>

<form id="processStage-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- Title input -->
    <div class="form-group" [class.was-validated]="title.dirty || title.touched">
      <label class="control-label" for="title">Title*</label>
      <input id="title" name="title" type="text" class="form-control" required
             [(ngModel)]="processStage.name" #title="ngModel">
      <div class="invalid-feedback">A title is required</div>
    </div>

    <div class="form-group" [class.was-validated]="step.dirty || step.touched">
      <label class="control-label" for="step">Step*</label>
      <input id="step" name="step" type="number" class="form-control" required
             [(ngModel)]="processStage.step" #step="ngModel">
      <div class="invalid-feedback">A step is required</div>
    </div>

    <div class="form-group" [class.was-validated]="beginDate.dirty || beginDate.touched">
      <label class="control-label" for="beginDate">BeginDate*</label>
      <input id="beginDate" name="beginDate" type="datetime-local" class="form-control" required
             [(ngModel)]="processStage.beginDate" #beginDate="ngModel">
      <div class="invalid-feedback">A beginDate is required</div>
    </div>

    <div class="form-group" [class.was-validated]="endDate.dirty || endDate.touched">
      <label class="control-label" for="endDate">EndDate*</label>
      <input id="endDate" name="endDate" type="datetime-local" class="form-control" required
             [(ngModel)]="processStage.endDate" #endDate="ngModel">
      <div class="invalid-feedback">A endDate is required</div>
    </div>

    <!-- Candidate (not required)  -->
    <!--<div class="form-group" [class.was-validated]="username.dirty || username.touched">
      <label class="control-label" for="username">Username</label>
      <input id="username" name="username" type="text" class="form-control"
             [(ngModel)]="user.id" #username="ngModel">
      <div class="invalid-feedback">A username is required</div>
    </div>-->

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
      <button id="listBtn" type="button" (click)="onCancel()" class="btn m-1 btn-outline-primary pull-right">Back</button>
    </div>

  </fieldset>
</form>
