<h4 class="display-4">Documents</h4>
<p class="lead mb-4">This document is for a selection process with vacancy {{this.selectionProcessEntity.vacancy}}.</p>

<ng-template #dialogRef>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Uploading file</h4>
  </div>
  <div class="modal-body">
    <ngb-progressbar type="warning" [value]="this.percentageUpload" [striped]="true"></ngb-progressbar>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>

<form id="document-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- Title input -->
    <div class="form-group" [class.was-validated]="title.dirty || title.touched">
      <label class="control-label" for="title">Title*</label>
      <input id="title" name="title" type="text" class="form-control" required
             [(ngModel)]="documentEntity.title" #title="ngModel">
      <div class="invalid-feedback">A title is required</div>
    </div>

    <div class="form-group">
      <label class="control-label" for="docTypes">Document type*</label>
      <select class="form-control" id="docTypes" (change)="saveCode($event)" required>
        <option *ngFor="let c of codes" [value]="c.value" >{{c.value}}</option>
      </select>
      <div class="invalid-feedback">A document type is required</div>
    </div>

    <div *ngIf="candidateEntity != undefined; then thenBlock2"></div>
    <ng-template #thenBlock2>
      <div class="form-group">
        <label class="control-label" for="candidate">Candidate</label>
        <input id="candidate" name="username" type="text" class="form-control"
               [(ngModel)]="candidateEntity.name" disabled>
      </div>
    </ng-template>





    <div class="form-group">
      <label class="control-label" for="docTypes">Attached document</label>
      <input style="display: none;" type="file" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" (change)="handleFileInput($event.target.files)" #file>
      <div *ngIf="documentEntity.path != null; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <p class="card-subtitle text-muted">{{documentEntity.length}} bytes
          <button type="button" (click)="onDownloadFile(documentEntity.id)" class="btn btn-sm btn-success ml-2"><span class="fa fa-download"></span></button>
          <button type="button" (click)="onOpenFile(documentEntity.id)" class="btn btn-sm btn-warning ml-2"><span class="fa fa-eye"></span></button>
          <button type="button" (click)="file.click()" class="btn btn-sm btn-dark ml-2"><span class="fa fa-upload"></span></button>
          <button type="button" (click)="onDeleteFile(documentEntity.id)" class="btn btn-sm btn-danger ml-2"><span class="far fa-trash-alt"></span></button>
        </p>

      </ng-template>
      <ng-template #elseBlock><div class="col-4 mt-1">
        <p class="card-subtitle text-muted">No file has been uploaded
          <button type="button" (click)="file.click()" class="btn btn-sm btn-dark ml-2"><span class="fa fa-upload"></span></button>
        </p>
      </div></ng-template>


    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
      <button id="listBtn" type="button" (click)="onCancel()" class="btn m-1 btn-outline-primary pull-right">Back</button>
    </div>

  </fieldset>
</form>



