<h4 class="display-4">Documents</h4>
<p class="lead mb-4">These are all the current available documents in AcademicRecruit.</p>

<div class="card mb-1" *ngFor="let document of documents">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Documents</h6>
        <a class="card-text" [routerLink]="['/documents', document.id]">{{document.id}}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Title</h6>
        <p class="card-text">{{document.title}}</p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalDocuments"
                (pageChange)="changePage()"></ngb-pagination>
