<h4 class="display-4">Documents</h4>
<p class="lead mb-4">These are all the current available documents for vacancy {{this.selectionProcessEntity.vacancy}}.</p>

<div class="card mb-1" *ngFor="let document of documents">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-4 mt-1">
        <h6 class="card-subtitle text-muted">Documents</h6>
        <a class="card-text" [routerLink]="['/selectionProcesses', this.selectionProcessId, 'documents', document.id]">{{document.title}}</a>
      </div>
      <div class="col-4 mt-1">
        <h6 class="card-subtitle text-muted">DocType</h6>
        <!--<p class="card-text">{{(codes | filter : {'name':document.docType})[0].value}}</p>-->
        <p class="card-text">{{this.document.getDocTypeLabel()}}</p>
      </div>

      <div *ngIf="document.path != null; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><div class="col-4 mt-1">
        <h6 class="card-subtitle text-muted">File</h6>
        <a class="card-text" [routerLink]="" (click)="onOpenFile(document.id)">Download file</a>
      </div></ng-template>
      <ng-template #elseBlock><div class="col-4 mt-1">
        <h6 class="card-subtitle text-muted">No file has been uploaded</h6>
      </div></ng-template>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalDocuments"
                (pageChange)="changePage()"></ngb-pagination>
